footer {
    text-align: center;
    padding-top: .5rem;
    font-size: 85%;
  }
  
  .footer-note {
    font-size: 75%;
  }
  
  footer a:hover {
    color: rgb(139, 51, 0);
    background-color: #B09153;
  }
  
  footer .footer-tab .fa {
    display: inline-block;
    margin: 12px;
}