body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 100, 100);
  background-color: rgb(245, 245, 245);
  font-size: 1rem;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

#banner, div, #get-started, #form h2, p, #analytics, #submit-feedback {
  text-align: center;
}

h1 a, header, #learn-button, #get-started, #name, #submit-feedback button, #add-chart {
  color: white;
}

p {
  overflow-wrap: break-word;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

#alert {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* NAVIGATION */

#home-button a {
  color: white;
}

/* HEADER/BANNER */
header {
  background: url(img/cityscape2.jpg);  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  padding-bottom: 10rem;
}

#banner {
  padding-top: 3rem; 
  padding-bottom: 3rem;
}

#banner-buttons a {
  padding: 0.7rem 2rem 0.7rem 2rem;
  margin: 0.4rem;
  border-radius: 5px;
}

#start-button {
  color: rgb(100, 100, 100);
  background-color: rgba(255, 255, 255);
}

#start-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#learn-button {
  background-color: rgba(255, 255, 255, 0.2);
}

#learn-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


/* INTRODUCTION */
#introduction {
  position: relative;
  top: -7rem;
}

.content-container div {
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
}

#introduction h2{
  border-bottom: 5px solid rgb(245, 245, 245);
  padding-bottom: 1rem;
}

/* CARDS */
.cards {         
  display: flex;
  flex-direction: column;           
  justify-content: space-around;
}

.cards div {
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);   
  margin-top: 1.0rem;
}

/* START SECTION */
#get-started {
  margin-top: 1rem;
  padding: 5rem;
  background-color: rgb(234, 153, 130);
}

#begin-button {
  background-color: rgb(204, 51, 0);
  font-size: 1.2rem;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#get-started form {
  display: flex;
  flex-direction: column;
}

#get-started form div {
  width: 100%;
  margin: auto;
  padding-top: 0.5rem;
}

#name {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  border: 0;
  padding: 0.5rem;
}

#address {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border: 0;
  padding: 0.5rem;
}

#get-started form div label {
  display: none;
}


/* FORM SECTION */

#form {
  margin-top: 2rem;
}

#form p {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

table {
  margin-left: 30px;
  margin-right: 30px;
}

td {
  padding: 1rem;
  display: table-row;
  text-align: left;
}

td input {
  margin-left: 3px;
} */

tr {
  height: 100px;
} 

td label {
  margin-left: 1rem;
}

.form-labels {
  display: none;
}

#submit-feedback button, #add-chart{
  font-size: 1.2rem;
  background-color: rgb(204, 51, 0);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#add-chart {
  background-color: rgb(0, 153, 51);
  text-align: center;
}  

/* ANALYTICS */
 #analytics {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.chart {
  margin-bottom: 1rem;
}

#analytics div p {
  margin-left: .8rem;
  margin-right: .8rem;
}

#charts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 auto;
  min-width: initial;
  margin: auto;
}

/* MAP */
#map-container {
  width: 400px;
  height: 500px;
  margin: auto;
}

#map-options label {
  display: none;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend li span{
  margin-left: 1rem;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.legend li {
  margin-right: 0.5rem;
  display: inline-block;
  list-style-type: none;
} 

#legend1 {
  background-color: #FC8F6E;
}

#legend2 {
  background-color: #D7A44A;
}

#legend3 {
  background-color: #9DB756;
}

#legend4 {
  background-color: #5EC087;
}

#legend5 {
  background-color: #3EBEBF;
}

/* ABOUT */

#about #home-button a {
  color: black;
}

/* Button Group for Justices */

.btn-group button {
  background-color: grey; /* Green background */
  border: 1px solid rgb(255, 255, 255); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: rgb(217, 217, 217);
  color: black;
}

/* Slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(71, 125, 177);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(71, 125, 177);
  cursor: pointer;
}

/* LARGER THAN MOBILE */

@media (min-width: 535px) {
  #map {
    width: 510px;
  }

  #map-container {
    width: 510px;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }

  #name {
    width: 368px;
  }

  #address {
    width: 450px;
  }

  #map {
    width: 580px;
  }

  #map-container {
    width: 580px;
  }
}

@media (min-width: 875px) {
  td {
      display: table-cell;
  }

  tr td:nth-child(2) {
      text-align: right;
  }

  #map {
    width: 700px;
  }

  #map-container {
    width: 700px;
  }
}


  
@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  table {
      margin: auto;
  }

  td input {
      margin-left: 1px;
  }

  .content-container {
      width: 85%;
      margin: auto;
  }

  .cards div {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #charts-container {
    width: 900px;
  }

  #map {
    width: 800px;
  }

  #map-container {
    width: 800px;
  }
}

@media (min-width: 1300px) {
  .cards {
      flex-direction: row;
  }

  #map {
    width: 1000px;
  }

  #map-container {
    width: 1000px;
  }
}